@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vp-font-family-base: "Inter", system-ui, sans-serif;
    --vp-font-family-mono: "JetBrains Mono", ui-monospace, monospace;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #ff76b6 30%, #ff6c32);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #ff76b666 50%, #ff6c3266 50%);
    --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(68px);
    }

    .VPHero .container {
        padding: 0% 3%;
    }
    
    .VPHero .image-container {
        transform: translate(0px, -32px);
    }

    .VPHero .image-bg,
    .VPHero .image-src {
        height: 90%;
    }
}

.VPDoc code {
    padding: 2px 6px;
    border-radius: 4px;
}